DATABASE_URL="prisma+postgres://localhost:51213/?api_key=TU_API_KEY_ACA"
DIRECT_URL="postgres://postgres:postgres@localhost:51214/template1?sslmode=disable&connection_limit=10&connect_timeout=0&max_idle_connection_lifetime=0&pool_timeout=0&socket_timeout=0"
PORT=3000